@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

* { min-height:0 }

html, body, div#root {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #161616;
  background-image: url('../../assets/body-bg.png');
  color: #eee;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #eee;
  background-image: url('../../assets/header-bg.png');
  padding: 10px 30px 5px;
  font-size: 1.2em;
  color: #F5210A;
  flex: none;
}

.header-title {
  font-size: 1.6em;
  font-weight: bolder;
}

.content-container {
  padding: 0 30px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.content-container h2 {
  color: #509fe8;
}

.resume-body {
  flex: 1 1 auto;
  padding: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.resume-display {
  overflow: auto;
  overflow-x: hidden;
  margin: 20px 0 20px;
}

.footer {
  flex: none;
}

.footer ul {
  display: flex;
  list-style-type: none;
  padding: 20px 30px;
  margin: 0;
  justify-content: space-evenly;
}

.footer li {
  flex-direction: row;
  font-size: 1.2em;
  font-weight: bold;
}

a {
  color: #ddd;
  text-decoration: none;
}

.footer a {
  color: #b5b310;
}

a:hover {
  color: #666;
}

.align-right {
  text-align: right;
}
